* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', san-serif;
    min-height: 100vh;
    background: linear-gradient(to right, #000428, #000046);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    gap: 24px;
    color: lime;
}

.headerContainer,
.footerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerContainer a,
.addKey {
    color: white;
    text-decoration: none;
    background: hsla(200, 80%, 50%, 0.4);
    border-radius: 10px;
    padding: 8px 8px;
    gap: 8px;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    border: none;
}

.addKey {
    width: fit-content;
    margin-top: 10px;
    cursor: pointer;
}

.headerContainer a:hover,
.addKey:hover {
    background: hsla(220, 80%, 50%, 0.8)
}

.subHeader {
    font-size: 1.3rem;
}

.info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.info h3,
.info p {
    font-size: 0.9rem;
}

.info h3 {
    color: cyan;
    font-weight: 500;
}

.info p {
    font-weight: 300;
}

.info i {
    cursor: pointer;
}

.info i:hover {
    opacity: 0.7;
}

.errMsg {
    color: coral;
    display: none;
}

.subMsg {
    color: lime;
    display: none;
}

section {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footerContainer a:hover {
    color: lime;
}
