* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', san-serif;
    font-style: normal;
    min-height: 100vh;
    background: #ffffff;
    color: #7c859f;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 20px;
}

button {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

section {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 10px;
    background: #f5f7fa;
    border-radius: 10px;
}

.gradient {
    background: linear-gradient(#3730a3, #a5b4fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    gap: 20px;
}

.headerContainer,
.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headerContainer h1 {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 42px;
    margin: 0;
}

.headerContainer p {
    color: #000000;
}

.headerContainer a,
.addKey {
    color: #ffffff;
    font-size: 0.9rem;
    text-decoration: none;
    background: #6366f1;
    border-radius: calc(infinity * 1px);
    padding: 8px 24px;
    gap: 8px;
    display: flex;
    align-items: center;
    text-align: center;
    border: none;
}

.addKey {
    width: fit-content;
    margin-top: 10px;
    cursor: pointer;
}

.headerContainer a:hover,
.addKey:hover {
    background: #a5b4fc;
}

.quoteContainer {
    display: flex;
    gap: 10px;
}

.subHeader {
    color: #475569;
    font-size: 1.3rem;
}

.info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px 0;
}

.info h3,
.info p,
.preMsg {
    font-size: 1rem;
    font-weight: 500;
}

.info h3 {
    color: #6366f1;
    font-weight: 500;
}

.info i {
    cursor: pointer;
}

.info i:hover {
    opacity: 0.9;
}

.errMsg,
.errSubMsg {
    color: #ef4444;
    display: none;
}

.subMsg {
    color: #10b981;
    display: none;
}

.quoteErrMsg {
    color: #ef4444;
    display: none;
}

.quoteSubMsg {
    color: #10b981;
    display: none;
}

.keyInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
    margin-top: 8px;
}

.keyInput input:focus-within,
.quoteSubmission input:focus-within {
    border-color: #6366f1;
}

.keyInput input,
.quoteSubmission input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 10px;
    color: #000000;
    border: 2px solid #a5b4fc;
    border-radius: 14px;
}

.quoteSubmission {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    border-radius: 14px;
}

.bmaccontainer,
.footerContainer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-size: 1.3rem;
}

.bmaccontainer a:hover,
.footerContainer a:hover {
    color: #a5b4fc;
    opacity: 0.9;
}

@media (min-width: 700px){
    .container {
        gap: 20px;
    }

    .headerContainer a {
        font-size: 1rem;
    }

    .quoteContainer{
        text-wrap: balance;
    }

    .subHeader {
        font-size: 1.8rem;
    }

    .info {
        text-wrap: balance;
        gap: 16px;
    }

    .info h3,
    .info p {
        font-size: 1rem;
    }
}
