* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', san-serif;
    min-height: 100vh;
    background: linear-gradient(to right, #000428, #000046);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

span {
    font-weight: 500;
    color: lime;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    gap: 24px;
}

.headerContainer,
.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headerContainer p {
    color: cyan;
}

.headerContainer a,
.addKey {
    color: white;
    text-decoration: none;
    background: hsla(200, 80%, 50%, 0.4);
    border-radius: 10px;
    padding: 8px 8px;
    gap: 8px;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    border: none;
}

.addKey {
    width: fit-content;
    margin-top: 10px;
    cursor: pointer;
}

.headerContainer a:hover,
.addKey:hover {
    background: hsla(220, 80%, 50%, 0.8)
}

.quoteContainer {
    display: flex;
    gap: 10px;
}

.subHeader {
    font-size: 1.3rem;
}

.info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px 0;
}

.info h3,
.info p {
    font-size: 0.9rem;
}

.info h3 {
    color: cyan;
    font-weight: 500;
}

.info p {
    font-weight: 300;
}

.info i {
    cursor: pointer;
}

.info i:hover {
    opacity: 0.9;
}

.errMsg,
.errSubMsg {
    color: coral;
    display: none;
}

.subMsg {
    color: lime;
    display: none;
}

.quoteErrMsg {
    color: coral;
    display: none;
}

.quoteSubMsg {
    color: lime;
    display: none;
}

.keyInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
    margin-top: 8px;
}

.keyInput input:focus-within,
.quoteSubmission input:focus-within {
    border-color: blue;
}

.keyInput input,
.quoteSubmission input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 10px;
    color: white;
    border: 1px solid navy;
    border-radius: 10px;
}

.quoteSubmission {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    border-radius: 4px;
}


section {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.bmaccontainer,
.footerContainer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-size: 1.3rem;
}

.bmaccontainer a:hover,
.footerContainer a:hover {
    color: lime;
    opacity: 0.9;
}

@media (min-width: 700px){
    .container {
        gap:32px;
    }

    .headerContainer a {
        font-size: 1rem;
    }

    .quoteContainer{
        text-wrap: unset;
    }

    .subHeader {
        font-size: 1.8rem;
    }

    .info {
        gap:16px;
    }

    .info h3,
    .info p {
        font-size: 1rem;
    }
}
